[submodule "strings-and-files"]
	path = strings-and-files
	url = git@git.dartmouth.edu:lib-digital-strategies/RDS/workshops/text-analysis/strings-and-files.git
[submodule "tfidf"]
	path = tfidf
	url = git@git.dartmouth.edu:lib-digital-strategies/RDS/workshops/text-analysis/tfidf.git
[submodule "word-counts"]
	path = word-counts
	url = git@git.dartmouth.edu:lib-digital-strategies/RDS/workshops/text-analysis/word-counts.git
[submodule "topics-and-emotions"]
	path = topics-and-emotions
	url = git@git.dartmouth.edu:lib-digital-strategies/RDS/workshops/text-analysis/topics-and-emotions.git
[submodule "text-classification"]
	path = text-classification
	url = git@git.dartmouth.edu:lib-digital-strategies/RDS/workshops/text-analysis/text-classification.git
