[submodule "strings-and-files"]
	path = strings-and-files
	url = git@github.com:Dartmouth-Libraries/Strings-and-Files.git
[submodule "tfidf"]
	path = tfidf
	url = git@github.com:Dartmouth-Libraries/TFIDF.git
[submodule "word-counts"]
	path = word-counts
	url = git@github.com:Dartmouth-Libraries/Word-Counts.git
[submodule "topics-and-emotions"]
	path = topics-and-emotions
	url = git@github.com:Dartmouth-Libraries/Topics-and-Emotions.git
[submodule "next-steps"]
	path = next-steps
	url = git@github.com:Dartmouth-Libraries/Next-Steps.git
[submodule "text-classification"]
	path = text-classification
	url = git@github.com:Dartmouth-Libraries/Text-Classification.git
